<div id="due-date-modal<%= "#{assignment.id}" %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><%= assignment.name %></h3>
  </div>
  <div class="modal-body">
    <%= form_for(assignment) do |f| %>
      <%= f.label :active_at %>
      <%= f.text_field :active_at %>
      <%= f.label :due_at %>
      <%= f.date_field :due_at %>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= f.submit "Save Changes", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
